body {
    background-color: white;
    background-size: cover;
    margin: auto;
    width: 100%;
}

.fejlec {
    width: 100%;
    height: 150px;
    background-color: rgb(8, 139, 8);
    padding: 10px;
    text-align: center;
    font-size: large;
}

h1 {
    color:chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.liliom img{
    float: left;
    margin-right: 0;
}

.liliom1 img{
    float: right;
    margin-left: 0;
}

@media screen and (max-width:500px) {
    .liliom{
        display: none;
    }
}


@media screen and (max-width:500px) {
    .liliom1{
        display: none;
    }
}

.container {
    margin-bottom: 0%;
}

.lablec {
    width: 100%;
    height: 150px;
    background-color: rgb(8, 139, 8);
    padding: 0px;
    text-align: center;
    font-size: large;
}


.jamboree img{
    float: left;
    margin-right: 0;
}

.jamboree1 img{
    float: right;
    margin-left: 0;
}

@media screen and (max-width:500px) {
    .jamboree{
        display: none;
    }
}


@media screen and (max-width:500px) {
    .jamboree1{
        display: none;
    }
}